{% extends 'base.html' %}

{% block title %}

{% endblock %}
    Product Detail
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="" width="300" height="333">
                {% endif %}
                <h1>Title: {{ object.title }}</h1>
                <h5>{{ object.timestamp|timesince }} ago.</h5>
                <h6>Description: {{ object.description|linebreaks }} </h6>
            </div>
        </div>
    </div>
{% endblock %}
