<div class="card" style="width: 18rem;">
  {% if instance.image %}
    <a href="{% url 'product_slug_view' instance.slug %}">
      <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} logo"></a>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description|truncatewords:5|linebreaks}}</p>
    <a href="{% url 'product_slug_view' instance.slug %}" class="btn btn-primary">view</a>
  </div>
</div>